<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Editar Usuario</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="icon" type="imagen/png" th:href="@{/img/pixlr-bg-result.png}" />
<link href='https://fonts.googleapis.com/css?family=Rubik'
	rel='stylesheet'>
<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/datatables/datatables.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/datatables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css}">
<!--css-->
<link rel="stylesheet" type="text/css" th:href="@{/css/ventas.css}">
<!-- css IziToast mensajes -->
<link rel="stylesheet"
	th:href="@{/iziToast-master/dist/css/iziToast.min.css}">
<!-- css Swetalert -->
<link rel="stylesheet" th:href="@{/sweetalert/sweetalert2.css}">
	<!--estilos css-->
<link rel="stylesheet" type="text/css" th:href="@{/css/ventas.css}">
	<!--Estilos encabezado-->
</head>
<body style="background: lightgoldenrodyellow; font-family:Rubik">
		<div th:include="administrador/encabezado.html::header"></div>
	<div class="container">
				<br>
				<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center">
				<div class="card bg-dark text-white">
					<h3 class="text-center">editar Usuario</h3>
				</div>
				<br>

				<form  th:object="${usuario}" method="POST">
					<imput type ="hidden" name="id" th:value="${usuario.id}"/>
					<div class="card w3-light-grey" style="border: none; margin: 5px">
						<label style="padding: 10px; position: relative;">Nombres</label>
						<input name="nombres" type="text" th:field="*{nombres}"
							style="background: none; width: 70%;padding-left:10px; border: none; outline: 0px"
							placeholder="Digite el nombre" required>
					</div>
	
					<div class="card w3-light-grey" style="border: none; margin: 5px">
						<label style="padding: 10px; position: relative;">Apellidos</label>
						<input name="apellidos" type="text" th:field="*{apellidos}"
							style="background: none; width: 70%;padding-left:10px; border: none; outline: 0px"
							placeholder="Digite el apellido" required>
					</div>
	
					<div class="card w3-light-grey" style="border: none; margin: 5px">
						<label style="padding: 10px; position: relative;">Documento</label>
						<input name="idUsuari" type="number" th:field="*{idUsuario}" min-length="8" max-legngth="10"
							style="background: none; width: 95%;padding-left:10px; border: none; outline: 0px"
							placeholder="Digite su número de id" required>
					</div>
	
					<div class="card w3-light-grey" style="border: none; margin: 5px">
						<label style="padding: 10px; position: relative;">Telefono</label>
						<input name="telefono" type="number" th:field="*{telefono}" min-length="8" max-legngth="10"
							style="background: none; width: 95%;padding-left:10px; border: none; outline: 0px"
							placeholder="Digite su número de telefono" required>
					</div>
	
					<div class="card w3-light-grey" style="border: none; margin: 5px">
						<label style="padding: 10px; position: relative;">Correo</label>
						<input name="correo" type="e-mail" th:field="*{correo}"
							style="background: none; width: 70%;padding-left:10px; border: none; outline: 0px"
							placeholder="Digite e-mail" required>
					</div>
	
					<div class="card w3-light-grey" style="border: none; margin: 5px">
						<label style="padding: 10px; position: relative;">Dirección</label>
						<input name="direccion" type="text" th:field="*{direccion}"
							style="background: none; width: 70%;padding-left:10px; border: none; outline: 0px"
							placeholder="Digite la dirección" required>
					</div>
					
					<div class="card w3-light-grey" style="border: none; margin: 5px">
						<label style="padding: 10px; position: relative;">Rol</label>
						<select th:field="*{rol}" name="rol" id="rol" class="input_formulario w3-light-grey " required
							style="background: none; width: 95%; padding-bottom: 15px;padding-left:10px; border: none; outline: 0px; color:darkgray;">
							<th:block th:each="rol : ${listaRoles}">
								<option th:text="${rol.nombre}" th:value="${rol.id}"></option>
							</th:block>
						</select>
					</div>
					
					<div class="card w3-light-grey" style="border: none; margin: 5px">
						<label style="padding: 10px; position: relative;">Contraseña</label>
						<input name="contrasenia" type="password" th:field="*{contrasenia}"
							style="background: none; width: 70%;padding-left:10px; border: none; outline: 0px"
							placeholder="Digite la contraseña" required>
					</div>
	
	
					<div class="w3-bar w3-margin w3-center">
						<button class="w3-button bg-dark text-white w3-hover-light-green rounded">Guardar</button>
					</div>
				</form>
			</div>
	</div>

</body>

</html>