<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nosotros</title>
	<link rel="icon"type="imagen/png"href="img/pixlr-bg-result.png"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>
<body>
	
	<div th:include="BARRACR.html"></div>
	

<div class="w3-container w3-center "style="width:100%; height: 100%;background-color: lightgoldenrodyellow; margin-top: 0px;display:block;font-family: 'Rubik';font-size: 20px;" frameborder=0>
	</br>
	<a class="w3-center" style="font-size: 40px;text-shadow:1px 1px 5px white;">¿Quienes Somos?</a>
<p >Es un restaurante el cual vende diferentes variedades de comidas se caracteriza por la esencia, originalidad y su buena atención hacia el cliente.
Fue nuestra única opción por que es una empresa que necesita una buena organización, estructuración tanto en el área administrativa como en el área del personal y clientela. 
Debido a que es un establecimiento que esta ubicado en un sector no muy visible, deberá mejorar en todos los aspectos posibles para que se pueda llevar a cabo un debido proceso para mejorar todas y cada una de las necesidades en general. Para que poder obtener un resultado satisfactorio.  </p>
  <a class="w3-xxxlarge w3-" style="text-shadow:1px 1px 5px white;">Misión y Visión!</a>
  <div class="w3-panel w3-xxlarge w3-round-xxlarge" style="background-color: #FFBC50;text-shadow:1px 1px 5px white;">Misión</div> 
  <a class="w3-xlarge">Satisfacer las necesidades gastronómicas de nuestros clientes y ofrecer un concepto innovador que combine los más ricos sabores, bebidas para su paladar y el de toda su familia. Brindar la mejor calidad servicio y sabor.  </a> </br></br>
  <div class="w3-panel w3-xxlarge w3-round-xxlarge" style="background-color:#FFBC50;text-shadow:1px 1px 5px white;">Visión</div>
  <a class="w3-xlarge w3-left">Bajo el desafío de procesar alimentos que colaboren con una sana nutrición y sean recomendados como un restaurante original Sólido, profesional e innovador. 
En los alimentos, por la variedad de nuestro menú diario, ofrecer calidad humana, principios éticos a nuestros empleados y clientes los cuales son los que nos ayudan a nuestro crecimiento diario.  </a>


</br>
</br>

</div>
<div th:include="foteroregano.html"></div>

</body>
</html>