body{
    background:#E1FFFB;
    color:#E1FFFB;
    
}

header h1{
    text-align: center;
    color:#0D0E0E ;
}


div h1{
    text-align: center;
   
}
.formulario{
    margin:10px 400px;
    border-radius:30px;
    padding:10px;
    border: 30px;
    height: 100px;
    width: 600px;
    margin-top: 200px;
    text-align: center;
    color:#17202A ;
   font-family: sans-serif;
    background-color:#D8F3F0;
    border-style: double;
    border-color: #12E9CF;
    line-height: 100%;


}