<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Barra</title>
	<link rel="icon"type="imagen/png"href="img/LOGO1.jpg"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
<!--BOOTSTRAP-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background:lightgoldenrodyellow; ">
	<div class=" navbar navbar-expand-lg" style="width:100%; background-color: black; font-family: 'Rubik';">

		<div class="container-fluid">
			<div>
				<a class="nav-link active w3-hover-text-orange w3-wide"
					style="text-decoration:none; background-color: black; color: white; margin-right: 0px ;margin-left: 0px;"
					th:href="@{/cdsp/CONTACTENOSCR.html}">Inicio</a>
			</div>
		
			<div>

				<a class="nav-link active w3-hover-text-orange w3-wide"
					style="text-decoration:none; background-color: black; color: white;margin-right: 0px ;margin-left: 0px;"
					th:href="@{/cdsp/domiciliario/domicilios}">Domicilios</a>
			</div>
			<div>
				<a
					class="w3-bar-item w3-button w3-righ w3-hover-lime w3-border-white w3-round-large" 
					style="background-color: #8EBC5A; width: 200px" target="_top"
					th:href="@{/cdsp/domiciliario/miperfil}">Mi Perfil</a>
			</div>
		</div>
	</div>
</body>
</html>