<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Barra</title>
	<link rel="icon"type="imagen/png"href="img/LOGO1.jpg"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>
<body>
	<a href="CONTACTENOS.html" target="_top">
	<div class="w3-center " style="background-color: black; color: white;margin-right: 0px ;margin-left: 0px;border-color: black; border-style: solid; border-top-width: 6px;border-bottom-width: 6px;font-family: 'Rubik';text-shadow:1px 1px 5px #000000">
	  <div class="w3-dropdown-hover">
	  <button class="w3-button w3-hover-lime w3-border-white w3-round-large " style="margin-right: 50px">&#127968; Inicio</button> </a>
	</div>


	  
	
	<a th:href="@{domicilio/nuevo}" target="_top">
		<div class="w3-dropdown-hover">
		  <button class="w3-button w3-hover-lime w3-border-white w3-round-large " style="margin-right: 50px">&#127949; Domicilios</button> </a>
		  
		</div>

	
	  
	  <a class="navbar-brand btn btn-sm btn btn-outline-success w3-wide" th:href="@{/cdsp/domiciliario/miperfil}" tabindex="-1" aria-disabled="true">Mi perfil</a>
	</div>

</body>
</html>