<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CONTACTANOSF</title>
	<link rel="icon"type="imagen/png"href="img/pixlr-bg-result.png"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<iframe class="encabezado" src="encabezado.html"style="width: 100%; height:150px; display:block;" frameborder=0></iframe>
	<iframe class="barra" src="BARRA2.html"style="width: 100%; height:52px; display: block;" frameborder=0 ></iframe>

	<div class="w3-container" style="width: 100%; height: 80px;background-color:lightgoldenrodyellow;"></div>



	<div class="w3-container w3-left " style="height: 490px; width: 100%;background-color: lightgoldenrodyellow; font-size: 40px; font-family: 'Rubik';text-shadow:1px 1px 5px #000000;"><img class="w3-image w3-right" src="img/123.jpg "style="width: 400px;height: 350px;border-style: solid;border-width: 5px;border-color: black;"> <div>Comuniquese a las lineas:</div>
		
			<div style="color: green;font-size: 40px;">  Teléfono 7280078- 31443326427 </div>
			O a nuestro correo:

			<div style="color: green;font-size: 40px;">oreganoeventos@gmail.com </div>

		O dirijase a nuestra unica sede: </br>

			<div style="color:green;font-size: 40px;"><a href="https://www.google.com/maps/place/OR%C3%89GANO+eventos+y+momentos+especiales./@4.5899943,-74.1415823,19z/data=!3m1!4b1!4m13!1m7!3m6!1s0x8e3f9ed8cf2c6c87:0x620624cc1402ed8d!2sDg.+51+Sur+%2353A-87,+Bogot%C3%A1!3b1!8m2!3d4.5899853!4d-74.1410293!3m4!1s0x8e3f9fe9f2af2435:0x76d13f544ac0e7ed!8m2!3d4.589993!4d-74.1410351?hl=es-ES">Diagonal 51 #53a-87 sur venecia</a> </div>
			<a href="https://wa.me/c/573144326427" target="_blank" style="margin-right: 10px"><i style="font-size:35px;color:green;" class="fa">&#xf232;   </i>WHATSAPP  </a>   <a href="https://www.facebook.com/OreganoEventos" target="_blank"><i style="font-size:35px;color: blue" class="fa">&#xf230;</i>  FACEBOOK</a>



		</div>
		<div class="mapa w3-center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.0224261465914!2d-74.14322378469265!3d4.589998343884227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9fe9f2af2435%3A0x76d13f544ac0e7ed!2sOR%C3%89GANO%20eventos%20y%20momentos%20especiales.!5e0!3m2!1ses!2sco!4v1646947493519!5m2!1ses!2sco" width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div> 

	<iframe class="footerp" src="foteroregano.html"style="width: 100%; height:150px;line-height: 0px; display:block" frameborder=0></iframe>

</body>
</html>