<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ERROR 404</title>
	<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
	<link rel="icon"type="imagen/png"href="img/pixlr-bg-result.png"/>
</head>
<body>
	<div class="w3-center" style="text-align: center;font-family: 'Rubik';">
	<img class="w3-center w3-image" src="img/ERROR500.png" style="width: 70%; height: 360px;margin-right: 5%;margin-left: 5%;">
		<div class="message">
			<h1>Error interno del servidor</h1>
			<p>¡Vaya! Algo salio mal.</p>
			<p>Trata de volver a cargar la pagina o no dudes en contactar con nosotros si el problema persiste.
			</p>
			<a href="IndexOregano.html" target="error" >Volver a Cargar</a>
		</div>
</div>

</body>
</html>