<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PRODUCCION2</title>
	<link rel="icon"type="imagen/png"href="img/pixlr-bg-result.png"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2017.css">
	<link rel="stylesheet" type="text/css" href="css/encabezadoestilos.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>
<body>
	<iframe class="encabezado" src="encabezado.html"style="width: 100%; height:150px; display:block;" frameborder=0></iframe>
	<iframe class="barra" src="BARRAJEFE.html"style="width: 100%; height:51px; display: block; " frameborder=0 ></iframe>


	<div class="w3-container" style="width: 100%;height: 100%;background-color: lightgoldenrodyellow;font-family: 'Rubik';">

	</br>


		<div class="w3-container w3-left w3-round-large w3-border w3-border-black w3-animate-zoom" style="width: 48%;height: 45%; background-color: #8EBC5A;text-align: center;font-size: 49px;text-shadow:1px 1px 5px #000000">Cosultar menus </br> <a href="produccionJEFE.html"><img class="w3-image w3-center" src="img/1234.png" style="width: 20%;height: 50%;margin-bottom: 10px;"></a></div>

		<div class="w3-container w3-right w3-round-large w3-border w3-border-black w3-animate-zoom" style="width: 48%;height: 45%; background-color: #8EBC5A;text-align: center;font-size: 47px;text-shadow:1px 1px 5px #000000">Pedidos a elaborar</br> <a href="ElaboracionJEFE.html"><img class="w3-image w3-center" src="img/cuchara.png" style="width: 20%;height: 70%;margin-bottom: 10px;"></a></div>



</br>

	</div>
	<div class="w3-container" style="height:100%; width:100%; background-color:lightgoldenrodyellow ">

	</br>
</br>
		<div class="w3-container w3-right w3-round-large w3-border w3-border-black w3-animate-zoom" style="width: 100% ;height: 100px; background-color: #8EBC5A;text-align: center;font-size: 50px;text-shadow:1px 1px 5px #000000">Reporte de pedidos</br> <a href="Elaboracion.html"></a></div>
	

-
	</div>

	




	<iframe class="footerp" src="foteroregano.html"style="width: 100%; height:150px;line-height: 0px; display:block" frameborder=0></iframe>

</body>
</html>